.banner{
    background-image: url(images/Sfondo.JPG);
    h1{
        color: bisque;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: auto;
    }
    h2{
        color: bisque;
        font-size: 30px;
        font-family: Arial, Helvetica, serif;
        margin-left: auto;
    }
    a{
        background-color: black;
        border-radius: 50%;
        color: bisque;
        font-size: 20px;
        font-family: Arial, Helvetica, serif;
        margin-left: auto; 
    }
}
.grid{
    display: grid;
    grid-template-rows: 1, 1/4;
    grid-gap: 20px;
    background-color: black;
    h3{
        font-size: 30px;
        font-family: Arial, Helvetica, serif;
        font-weight: bold;
        color: bisque;
    }
    .item{
        border-color: bisque;
        background-color: white;
        img{
            size-adjust: auto;
            position: center;
        }
        h3{
            font-size: 30px;
            font-family: Arial, Helvetica, serif;
            font-weight: bold;
            color: black; 
        }
        p{
            font-size: 20px;
            font-family: Arial, Helvetica, serif;
            color: black;  
        }
    }
    .footer{
        background-color: bisque;
        img{
            size: 20px;
            position: center;
        }
        p{
            font-size: 20px;
            font-family: Arial, Helvetica, serif;
            color: black; 
        }
    }
   
}
